*,
*::after,
**::before {
  box-sizing: border-box;
}

body {
    margin: 0;
    background-color: floralwhite;
    color: rebeccapurple;
    font-size: 16px;
}

.bottom-nav {
    background: lightblue;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

button {
    background: teal;
}